//font assignments 
@text-font: 'Gotu', sans-serif;
@header-font: 'Gotu', sans-serif;


//color assignments
@background: #93CB56;
@header: #059033;
@font-color: #EAF8CA;

//media queries
@tablet: ~"(max-width: 850px)";
@mobile: ~"(max-width: 660px)";
@sm-mobile: ~"(max-width: 559px)";
@med-screen: ~"(max-width: 500px)";
@tiny-screen: ~"(max-width: 300px)";